# CMake Build Artifacts
build/
cmake-build-debug/
cmake-build-release/
.vs/
*.vcxproj
*.vcxproj.user
*.sln
*.xcodeproj
*.xcworkspace

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp

# JUCE
JuceLibraryCode/
